$primary: #000000;
$secondary: #5E5E5E;
$accent: #AE946D;

$pr: #000000;
$sec: #5E5E5E;
$ac: #AE946D;



$red: #d63031;
$light: #ffffff;
$light-sec: #F5F5F5;
$grey: #A7A7A7;
$dark: #292929;
$dark-pr: #1A1A1A;